<div class = "comment">
  <p> 
      <strong> Name: </strong>
      <%= comment.commenter %>
  </p>

    <p class = "comment-body"> 
      <strong> Comment: </strong>
      <%= comment.body %>
  </p>
<div>
