<div id = "new-article-btn-cont">
        <%= link_to "New Article", new_article_path, :class => "btn", :id => "new-article-btn" %> 
</div>  
<div class= "container">
    <ul>
    <% @articles.each do |article| %>
    <li class = "card">
        <h3> <%= article.title %> </h3>
        <p class = "overflow-clip"> <%= article.body %> </p>
        <div class = "center" >
            <%= link_to "Read More", article, :class => "btn" %>
        </div>
    </li>
    <% end %>
</ul>

</div>

