// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


* {
    margin: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

// Index styling

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

// article cards
.card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 500px;
    height: 300px;
    text-align: center;
    background-color: white;
    text-align: left;
    border-radius: 5px;
    padding: 50px;
    line-height: 1.5;

}

// article card title
.card h3{
    text-align: center;
    color: #343a40;
    font-size: 2rem;
    margin-bottom: 30px;
}

// read more button
.center{
    text-align: center;

}

.btn{
    text-decoration: none;
    display: inline-block;
    color: white !important;
    font-size: 1.1rem;
    margin-top: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: cornflowerblue;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: rgb(66, 131, 250);
    
}

.btn:active{
    opacity: 0.7;
}

.card p{
    font-size: 1.1rem;
    color: #6c757d;
}


// article body text overflow
.overflow-clip{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

#new-article-btn{
    position: relative;
    bottom:1720px;
    // right:400px;
    left: 450px;
}