// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comments-form-btn{
    border: none;
    display: inline-block;
    color: white !important;
    font-size: 1.1rem;
    margin-top: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: cornflowerblue;
    transition: all 0.3s ease;
}
.comments-form-btn:hover{
    background-color: rgb(66, 131, 250);
}
.comments-form-btn:active{
    opacity: 0.7;
}
